[submodule "googletest"]
	path = thirdparty/googletest
	url = ../../google/googletest.git
[submodule "NetworkOffloader"]
	path = thirdparty/NetworkOffloader
	url = https://github.com/marchartung/NetworkOffloader.git
